<div class="columns">
  <div class="card events-card">
    <div class="column is-12">

      <section class="creat center">
        <div class="name">
          Create Wallet
        </div>
        <div class=" information">
          <p class="wtitle">
            Set password
          </p>
          <input class="inputw is-large is-loading" type="password" [(ngModel)]="model.password"><span style="color: #FF0000; "> {{resout.result}}</span>
          <p class="production">Your wallet password </p>
        </div>
        <button class="ceratedone" (click)="createAccount()">Create</button>
        <p class="production"> Create your wallet  </p>
        <div *ngIf="address">
        <div class="information">
          <p class="wtitle">
            Address
          </p>
          <p class="address">
            <span  id="address">{{address}}</span>
            <img src="assets/ic_copy.png" width="24"   (click)="copy('address')">
          </p>
        </div>
        <div class="information">
          <p class="wtitle">
            Private Key
          </p>
          <p class="address privatekey">
            <span id="privateKey" class="privatekeytext">{{privateKey}}</span>
            <img src="assets/ic_copy.png" width="24"   (click)="copy('privateKey')">
          </p>
          <div>Do not lose it! YeeCo cannot help you recover a lost key.</div>
          <div>Do not share it! Your funds may be stolen if you use this file a malicious site.</div>
          <div>Make a backup! Just in case your laptop is set on fire.</div>
          <button class="ceratedone" (click)="accessWallet()">Access Wallet</button>
        </div>
        </div>
      </section>
    </div>
  </div>
</div>
