<div class="columns">
  <div class="card events-card">
    <div class="column is-12">

      <section class="creat center">
        <div class="name">
          Create Wallet
        </div>
        <div class=" information">
          <p class="wtitle">
            PassWord
          </p>
          <input class="inputw is-large is-loading" type="password" [(ngModel)]="model.passWord"><span style="color: #FF0000; "> {{resout.result}}</span>
          <p class="production">Your wallet PassWord </p>
        </div>
        <button class="ceratedone" (click)="createAccount()">Create</button>
        <p class="production"> Create your wallet  </p>
        <div *ngIf="address">
        <div class="information">
          <p class="wtitle">
            Address
          </p>
          <p class="address">
            <span>{{address}}</span>
          </p>
        </div>
        <div class="information">
          <p class="wtitle">
            Private Key
          </p>
          <p class="address privatekey">
            <span class="privatekeytext">{{privateKey}}</span>
          </p>
          <div>Please back up private key by yourself for further use.</div>
        </div>
        </div>
      </section>
    </div>
  </div>
</div>
