<div [ngClass]="{
    'network-alexander': environment.networkName == 'Alexander',
    'network-edgeware': environment.networkName == 'Edgeware',
    'network-robonomics': environment.networkName == 'Robonomics',
    'network-joystream': environment.networkName == 'Joystream',
    'network-kusama': environment.networkName == 'Kusama',
    'white': white,
    'home': home
  }">
  <app-model title="Access By PrivateKry" [myModel]="showModel" (myModelChange)="onMyModelChange('showModel', $event)">
    <div class="model-box">
      <div class="input-box">
        <input placeholder="Enter Private Key" class="inputw is-large is-loading" type="text" [(ngModel)]="model.sendPrivateKey">
      </div>
      <div class="errorMsg" *ngIf="resout.showResult">{{resout.result}}</div>
      <button [ngClass]="{disable: !model.sendPrivateKey}" (click)="showPassWordModelFn()">Next</button>
    </div>
  </app-model>

  <app-model title="Enter Password" [myModel]="showPassWordModel" (myModelChange)="onMyModelChange('showPassWordModel', $event)">
    <div class="model-box">
      <div class="input-box">
        <input placeholder="Enter Password" class="inputw is-large is-loading" type="password" [(ngModel)]="model.password">
      </div>
      <div class="errorMsg" *ngIf="resout.showResult">{{resout.result}}</div>
      <button [ngClass]="{disable: !model.sendPrivateKey}" (click)="import()">Access Wallet</button>
    </div>
  </app-model>

  <app-model title="Set Password" [myModel]="showCreateModel" (myModelChange)="onMyModelChange('showCreateModel', $event)">
    <div class="model-box">
      <div class="input-box">
        <input placeholder="Set Password" class="inputw is-large is-loading" type="password" [(ngModel)]="model.password">
      </div>
      <div class="errorMsg" *ngIf="resout.showResult">{{resout.result}}</div>
      <button [ngClass]="{disable: !model.password}" (click)="createAccount()">Next</button>
    </div>
  </app-model>

  <app-model title="Save Your Private Key" [myModel]="showResultModel" (myModelChange)="onMyModelChange('showResultModel', $event)">
    <div class="model-box">
      <div class="tips">
        <img src="../../assets/tips.png">
        <div class="tipsInfo">
          <p><b>Do not lose it!</b> YeeCo cannot help you recover a lost key.</p>
          <p><b>Do not share it!</b> Your funds may be stolen if you use this file a malicious site.</p>
          <p><b>Make a backup!</b> Just in case your laptop is set on fire.</p>
        </div>
      </div>
      <div class="input-box">
        <div class="private" id="private">{{privateKey}}</div>
        <img src="assets/ic_copy.png" width="24" class="copy"   (click)="copy()">
      </div>
      <button (click)="accessWallet()">Access Wallet</button>
    </div>
  </app-model>

  <!-- START NAV -->
  <nav class="navbar is-black network-alexander" role="navigation" aria-label="main navigation" >
      <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item brand-text" routerLink="/">
              <img src="assets/logo.png" width="80">   &nbsp;&nbsp; <img src="assets/ic_pocnet.png" width="68">
            </a>
              <a role="button" class="navbar-burger burger" data-target="navMenu" [ngClass]="{'is-active': showNavigation}" (click)="toggleNavigation()">
                  <span></span>
                  <span></span>
                  <span></span>
              </a>
          </div>
          <div id="navMenu" class="navbar-menu" [ngClass]="{'is-active': showNavigation}">


              <div class="navbar-end">
                <a class="navbar-item" routerLink="/">
                  {{ 'NavBar.Home' | translate }}
                </a>
                <div class="navbar-start">

                  <div class="navbar-item has-dropdown" [ngClass]="{'is-hoverable': showSubmenus}">

                    <a class="navbar-link">
                      {{ 'NavBar.Chain' | translate }}
                    </a>
                    <div class="navbar-dropdown right-dropdown" (click)="toggleSubmenus()">
                      <div class="navbar-dropdown-box">
                          <a class="dropdown-navbar-item" routerLink="/block">
                            {{ 'NavBar.item_Blocks' | translate }}
                          </a>
                          <a class="dropdown-navbar-item" routerLink="/transaction">
                            {{ 'NavBar.item_Transactions' | translate }}
                          </a>
                          <a class="dropdown-navbar-item" routerLink="/balances/transfer">
                            {{ 'NavBar.item_Transfers' | translate }}
                          </a>
                          <a class="dropdown-navbar-item" routerLink="/account">
                            {{ 'NavBar.item_Accounts' | translate }}
                          </a>
                          <!--                      <a class="navbar-item" routerLink="/inherent">-->
                          <!--                        {{ 'NavBar.item_Inherents' | translate }}-->
                          <!--                      </a>-->
                          <a class="dropdown-navbar-item" routerLink="/event">
                            {{ 'NavBar.item_Events' | translate }}
                          </a>
                          <a class="dropdown-navbar-item" routerLink="/log">
                            {{ 'NavBar.item_Logs' | translate }}
                          </a>
                    </div>
                    </div>
                  </div>
                </div>
<!--                <div class="navbar-item has-dropdown" [ngClass]="{'is-hoverable': showSubmenus}">-->
<!--                    <a class="navbar-link">-->
<!--                      <i class="fa fa-language language-icon" aria-hidden="true"></i> {{ langsTitle(selectedLanguage) }}-->
<!--                    </a>-->
<!--                    <div class="navbar-dropdown" (click)="toggleSubmenus()">-->
<!--                      <ul *ngFor="let lang of langs">-->
<!--                        <li>-->
<!--                          <a class="navbar-item" (click)="selectedLanguage = lang; translate.use(lang)">-->
<!--                            {{ langsTitle(lang) }}-->
<!--                          </a>-->
<!--                        </li>-->
<!--                      </ul>-->
<!--                    </div>-->
<!--                  </div>-->

                <div class="navbar-item has-dropdown" [ngClass]="{'is-hoverable': showSubmenus}">
                  <a class="navbar-link">
                    {{ 'NavBar.Wallet' | translate }}
                  </a>
                  <div class="navbar-dropdown right-dropdown" (click)="toggleSubmenus()">
                    <div class="navbar-dropdown-box">
                      <div *ngIf="!address" class="dropdown-navbar-item" (click)="showModelFn()">
                        {{ 'NavBar.Import Wallet' | translate }}
                      </div>
                      <div *ngIf="!address" class="dropdown-navbar-item" (click)="showCreateModelFn()">
                        {{ 'NavBar.Create Wallet' | translate }}
                      </div>
                      <div class="link-box" *ngIf="address" class="dropdown-navbar-item">
                        <div class="dropdown-box">
                          <div>{{ 'My Account' | translate }}</div>
                          <a class="address-text" routerLink="/wallet">{{address}}</a>
                        </div>
                      </div>
                      <a class="yee-wallet" routerLink="/wallet" *ngIf="address">
                        <p class="account-card-title" >{{ formatBalance(balance) ||0}} {{ networkTokenSymbol }}</p>
                      </a>
                      <a class="dropdown-navbar-item" [routerLink]="['/account/' + address]" *ngIf="address">
                        {{ 'Transactions' | translate }}
                      </a>
                      <a *ngIf="address" class="dropdown-navbar-item" [routerLink]="['/wallet']" fragment="transfer">
                          <div>{{ 'Transfer' | translate }}</div>
                      </a>
                      <a *ngIf="address" class="logout" routerLink="/" (click)="logout()">
                          <div>{{ 'Logout' | translate }}</div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="navbar-item has-dropdown" [ngClass]="{'is-hoverable': showSubmenus}">

                  <a class="navbar-link">
                    <img src="../assets/changeIcon.png" alt="">
                  </a>
                  <div class="navbar-dropdown right-dropdown" (click)="toggleSubmenus()">
                    <div class="navbar-dropdown-box">
                        <a class="dropdown-navbar-item" href="http://testnet.yeescan.org/" target="_blank">
                          TESTNET
                        </a>
                        <a class="dropdown-navbar-item" href="https://pocnet.yeescan.org/" target="_blank">
                          POCNET
                        </a>
                  </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
  </nav>
  <div class="home-Bg"></div>
  <!-- END NAV -->
  <div class="container" >
      <router-outlet></router-outlet>
  </div>
</div>
