<div [ngClass]="{
    'network-alexander': environment.networkName == 'Alexander',
    'network-edgeware': environment.networkName == 'Edgeware',
    'network-robonomics': environment.networkName == 'Robonomics',
    'network-joystream': environment.networkName == 'Joystream',
    'network-kusama': environment.networkName == 'Kusama'

  }">
  <!-- START NAV -->
  <nav class="navbar is-black network-alexander" role="navigation" aria-label="main navigation" >
      <div class="container">
          <div class="navbar-brand">
              <a class="navbar-item brand-text" routerLink="/">
                <img src="assets/logo.png" width="20">&nbsp;&nbsp;<p style="text-align:center;color:#000000;font-size:18px;">Yeeco</p>

              </a>
              <a role="button" class="navbar-burger burger" data-target="navMenu" [ngClass]="{'is-active': showNavigation}" (click)="toggleNavigation()">
                  <span></span>
                  <span></span>
                  <span></span>
              </a>
          </div>
          <div id="navMenu" class="navbar-menu" [ngClass]="{'is-active': showNavigation}">


              <div class="navbar-end">
                <a class="navbar-item" routerLink="/">
                  {{ 'NavBar.Home' | translate }}
                </a>
                <div class="navbar-start">

                  <div class="navbar-item has-dropdown" [ngClass]="{'is-hoverable': showSubmenus}">

                    <a class="navbar-link">
                      {{ 'NavBar.Chain' | translate }}
                    </a>
                    <div class="navbar-dropdown" (click)="toggleSubmenus()">
                      <a class="navbar-item" routerLink="/block">
                        {{ 'NavBar.item_Blocks' | translate }}
                      </a>
                      <a class="navbar-item" routerLink="/transaction">
                        {{ 'NavBar.item_Transactions' | translate }}
                      </a>
                      <a class="navbar-item" routerLink="/balances/transfer">
                        {{ 'NavBar.item_Transfers' | translate }}
                      </a>
                      <a class="navbar-item" routerLink="/account">
                        {{ 'NavBar.item_Accounts' | translate }}
                      </a>
                      <!--                      <a class="navbar-item" routerLink="/inherent">-->
                      <!--                        {{ 'NavBar.item_Inherents' | translate }}-->
                      <!--                      </a>-->
                      <a class="navbar-item" routerLink="/event">
                        {{ 'NavBar.item_Events' | translate }}
                      </a>
                      <a class="navbar-item" routerLink="/log">
                        {{ 'NavBar.item_Logs' | translate }}
                      </a>
                    </div>
                  </div>
                </div>
<!--                <div class="navbar-item has-dropdown" [ngClass]="{'is-hoverable': showSubmenus}">-->
<!--                    <a class="navbar-link">-->
<!--                      <i class="fa fa-language language-icon" aria-hidden="true"></i> {{ langsTitle(selectedLanguage) }}-->
<!--                    </a>-->
<!--                    <div class="navbar-dropdown" (click)="toggleSubmenus()">-->
<!--                      <ul *ngFor="let lang of langs">-->
<!--                        <li>-->
<!--                          <a class="navbar-item" (click)="selectedLanguage = lang; translate.use(lang)">-->
<!--                            {{ langsTitle(lang) }}-->
<!--                          </a>-->
<!--                        </li>-->
<!--                      </ul>-->
<!--                    </div>-->
<!--                  </div>-->
              </div>
          </div>
        </div>
  </nav>
  <!-- END NAV -->
  <div class="container" >
      <router-outlet></router-outlet>
  </div>
</div>
