<div class="columns">

  <div class="card events-card">
    <header class="card-header">
      <div class="card-header-title">
        <div class="address-mobile-format"> {{ 'AccountDetail.AccountDetail' | translate }} &nbsp;&nbsp;&nbsp; <span id="address">{{address}}</span></div>
        &nbsp;&nbsp;&nbsp;
        <img src="assets/ic_copy.png" width="24"   (click)="copy()">
      </div>
      <a class="card-header-icon" aria-label="more options">
      </a>
    </header>

<!--    <div class="card events-card"><h3 style="color: rgb(194, 54, 49);"><span>0 YEE</span></h3>-->
<!--      <span>balance</span><span class="ml-2">-->
<!--        <div class="d-inline-block"></div>-->
<!--      </span></div>-->
<!--    <table class="table is-fullwidth is-striped">-->
<!--      <tbody>-->
<!--      <tr>-->
<!--        <td>{{ 'AccountDetail.ShardNum' | translate }}</td>-->
<!--        <td>{{shardnum}}</td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td>{{ 'AccountDetail.Free Balance' | translate }}</td>-->
<!--        <td>{{ balance }} {{ networkTokenSymbol }}</td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td>{{ 'AccountDetail.Nonce' | translate }}</td>-->
<!--        <td>{{ nonce}}</td>-->
<!--      </tr>-->
<!--      </tbody>-->
<!--    </table>-->


  <div class="column is-12">
    <section class="info-tiles">
      <div class="tile is-ancestor has-text-centered">
        <div class="tile is-parent">
          <article class="tile is-child box">
                        <span class="icon">
                            <i class="fa fa-cube fa-2x"></i>
                        </span>
            <p class="title" >{{ formatBalance(balance) ||0}} {{ networkTokenSymbol }}</p>
            <p class="subtitle">{{ 'Balance' | translate }}</p>
          </article>
        </div>
        <div class="tile is-parent is-2-tablet">
          <article class="tile is-child box">
                        <span class="icon">
                            <i class="fa fa-cubes fa-2x"></i>
                        </span>
            <p class="title">{{shardnum}}</p>
            <p class="subtitle">{{ 'ShardNum' | translate }}</p>
          </article>
        </div>
        <div class="tile is-parent is-2-tablet">
          <article class="tile is-child box">
                        <span class="icon">
                            <i class="fa fa-percentage fa-2x"></i>
                        </span>
            <p class="title" >{{ nonce ||0}}</p>
            <p class="subtitle">{{ 'Nonce' | translate }}</p>
          </article>
        </div>
      </div>
    </section>
<!--    <section class="creat center">-->
<!--      <div class="name">-->
<!--        Create Wallet-->
<!--      </div>-->
<!--      <p class="production"> Create the wallet address </p>-->
<!--      <button class="ceratedone" (click)="createAccount()">Create</button>-->
<!--      <div class="information">-->
<!--        <p class="wtitle">-->
<!--          Address-->
<!--        </p>-->
<!--        <p class="address">-->
<!--          <span>{{address}}</span>-->
<!--        </p>-->
<!--      </div>-->
<!--      <div class="information">-->
<!--        <p class="wtitle">-->
<!--          Private Key-->
<!--        </p>-->
<!--        <p class="address privatekey">-->
<!--          <span class="privatekeytext">{{privateKey}}</span>-->

<!--        </p>-->
<!--      </div>-->
<!--      <div>This page will not store your private key, please back up it by yourself for further use.</div>-->
<!--    </section>-->
    <section class="creat center transfer">
      <div class="name">
        Transfer <span style="color: #FF0000; "> {{resout.result}}</span>
      </div>
<!--      <div class=" information">-->
<!--        <p class="wtitle">-->
<!--          <span class="innertitle">-->
<!--            From address-->
<!--          </span>-->
<!--        </p>-->
<!--        <input class="inputw is-large is-loading" type="text" [(ngModel)]="model.sendAddress">-->
<!--        <p class="production">Your wallet address</p>-->
<!--      </div>-->
      <div class=" information">
        <p class="wtitle">
          <span class="innertitle">
            Password of private key
          </span>
        </p>
        <input class="inputw is-large is-loading" type="password" [(ngModel)]="model.password">

        <p class="production">Your wallet password of private key</p>
      </div>
      <div class=" information">
        <p class="wtitle">
          <span class="innertitle">
            To address
          </span>
        </p>
        <input class="inputw is-large is-loading" type="text" [(ngModel)]="model.dest">

        <p class="production">The address which your will transfer to</p>
      </div>
      <div class=" information">
        <p class="wtitle">
          <span class="innertitle">
            Amount
          </span>
        </p>
        <input class="inputw is-large is-loading" type="text" [(ngModel)]="model.amount">

        <p class="production">Amount that your want it transfer (in YEE)</p>
      </div>
<!--        <div *ngIf="relayFlag  && ext.attributes.extrinsic_hash == null &&  balanceTransfer.attributes.extrinsic_hash " class="card dashboard-card">-->
<!--          <p class="balance ">-->
<!--                    <span class="result" v-if="showResult" :class="{success:success}">-->
<!--                      {{result}}-->
<!--                    </span>-->
<!--          </p>-->
<!--        </div>-->
      <button type="submit" class="ceratedone"  (click)="transfer()" >Transfer</button>
      <span style="color: #008000; "> {{transferRes }}</span>
    </section>
<!--    <section class="creat center transfer">-->
<!--      <div class="name">-->
<!--        Import accout-->
<!--      </div>-->
<!--      <div class=" information">-->
<!--        <p class="wtitle">-->
<!--          <span class="innertitle">-->
<!--            Import address-->
<!--          </span>-->
<!--        </p>-->
<!--        <input class="inputw is-large is-loading" type="text" [(ngModel)]="immodel.sendAddress">-->
<!--        <p class="production">Your wallet address</p>-->
<!--      </div>-->
<!--      <div class=" information">-->
<!--        <p class="wtitle">-->
<!--          <span class="innertitle">-->
<!--           Import Private Key-->
<!--          </span>-->
<!--        </p>-->
<!--        <input class="inputw is-large is-loading" type="text" [(ngModel)]="immodel.sendPrivateKey">-->

<!--        <p class="production">Your wallet private key</p>-->
<!--      </div>-->
<!--      <button type="submit" class="ceratedone"  (click)="import()" >Import</button>-->

<!--    </section>-->
  </div>
</div>
</div>
