html, body {
  font-family: 'Open Sans', serif;
  font-size: 16px;
  line-height: 1.5;
  height: 100%;
  background: #fafafb;
}
nav.navbar {
  border-top: 4px solid #2a364a;
  margin-bottom: 1rem;
}
.navbar-item.brand-text {
  font-weight: 300;
}
.navbar-item, .navbar-link {
  font-size: 14px;
  font-weight: 700;
}
.locale-flag {
  padding: 2px;
  margin-right: 5px;
  margin-top: 2px;
}
.columns {
  width: 100%;
  height: 100%;
  margin-left: 0;
}
.menu-label {
  color: #8F99A3;
  letter-spacing: 1.3;
  font-weight: 700;
}
.menu-list a {
  color: #0F1D38;
  font-size: 14px;
  font-weight: 700;
}
.menu-list a:hover {
  background-color: transparent;
  color: #d32e79;
}
.menu-list a.is-active {
  background-color: transparent;
  color: #d32e79;
  font-weight: 700;
}
.card {
  box-shadow:   8px 10px 10px rgba(46, 57, 75, 0.06);
  margin-bottom: 2rem;
}
.cards {
  box-shadow:  8px 10px 10px rgba(46, 57, 75, 0.06);
}
.card-header-title {
  color: #808998;
  font-weight: 400;
}
.info-tiles {
  margin: 1rem 0;
}

.last-blocks {
  padding-left: 0;
}

.last-transfers {
  padding-right: 0;
}

.info-tiles .subtitle {
  font-weight: 300;
  color: #8F99A3;
}
.hero.welcome.is-info {
  background: #36D1DC;
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
  background: linear-gradient(to right, #5B86E5, #36D1DC);
}
.hero.welcome .title, .hero.welcome .subtitle {
  color: hsl(192, 17%, 99%);
}
.card .content {
  font-size: 14px;
}
.card-footer-item {
  font-size: 14px;
  font-weight: 700;
  color: #276cda;
}
.card-footer-item:hover {
}
.card-table .table {
  margin-bottom: 0;
}
.events-card .card-table {
  overflow-x: scroll;
}

.network-alexander {
  .hero.welcome.is-info {
    background: linear-gradient(to right, #da68a7, #ba4887);
  }

  .button.is-primary {
    background-color: #da68a7;
  }

  .button.is-primary:hover {
    background-color: #ba4887;
  }

  .card-header-icon {
    color: #da68a7;
  }
  .navbar {
    background: linear-gradient(to right, #2a364a, #2a364a);
  }

  .tabs li.is-active a {
    color: #da68a7;
    border-bottom-color: #da68a7;
  }

  a {
    color: #da68a7;
  }

  .navbar-item a {
    color: #2a364a;
  }
}

.network-edgeware {
  .hero.welcome.is-info {
    background: linear-gradient(to right, #0a95df, #0a95df);
  }

  .button.is-primary {
    background-color: #0a95df;
  }

  .button.is-primary:hover {
    background-color: #0ac5ff;
  }

  .card-header-icon {
    color: #0a95df;
  }
  .navbar {
    background: linear-gradient(to right, #2a364a, #2a364a);
  }

  .tabs li.is-active a {
    color: #0a95df;
    border-bottom-color: #0a95df;
  }

  a {
    color: #0a95df;
  }

  .navbar-item a {
    color: #4a4a4a;
  }
}

.network-robonomics {
  .hero.welcome.is-info {
    background: linear-gradient(to right, #f15a24, #d13a04);
  }

  .button.is-primary {
    background-color: #f15a24;
  }

  .button.is-primary:hover {
    background-color: #f15a24;
  }

  .card-header-icon {
    color: #f15a24;
  }
  .navbar {
    background: linear-gradient(to right, #f15a24, #d13a04);
  }

  .tabs li.is-active a {
    color: #f15a24;
    border-bottom-color: #f15a24;
  }

  a {
    color: #f15a24;
  }

  .navbar-item a {
    color: #4a4a4a;
  }
}

.network-kusama {
  .hero.welcome.is-info {
    background: linear-gradient(to right, #d32e79, #b30e59);
  }

  .button.is-primary {
    background-color: #d32e79;
  }

  .button.is-primary:hover {
    background-color: #d32e79;
  }

  .card-header-icon {
    color: #d32e79;
  }
  .navbar {
    background: linear-gradient(to right, #d32e79, #b30e59);
  }

  .tabs li.is-active a {
    color: #d32e79;
    border-bottom-color: #d32e79;
  }

  a {
    color: #d32e79;
  }

  .navbar-item a {
    color: #276cda;
  }
}

.network-joystream {
  .hero.welcome.is-info {
    background: linear-gradient(to right, #00daaf, #00ba8f);
  }

  .button.is-primary {
    background-color: #00daaf;
  }

  .button.is-primary:hover {
    background-color: #00daaf;
  }

  .card-header-icon {
    color: #00daaf;
  }
  .navbar {
    background: linear-gradient(to right, #00daaf, #00ba8f);
  }
  .tabs li.is-active a {
    color: #00daaf;
    border-bottom-color: #00daaf;
  }

  a {
    color: #00ba8f;
  }

  .navbar-item a {
    color: #4a4a4a;
  }
}

.hero.welcome.is-info {
  background: linear-gradient(to right, #276cda, #276cda);
}

.button.is-primary {
  background-color: #276cda;
}

.button.is-primary:hover {
  background-color: #276cda;
}

.card-header-icon {
  color: #276cda;
}

.navbar {
  background: linear-gradient(to right, #2a364a, #2a364a);
}

.tabs li.is-active a {
  color: #276cda;
  border-bottom-color: #276cda;
}

.tabs a {
  color: #276cda;
}

a {
  color: #245dc6;
}

.no-items {
  padding: 10px;
}

.address-format {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 198px;
  display: inline-block;
  vertical-align: bottom;
}

.hash-format {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 132px;
  display: inline-block;
  vertical-align: bottom;
}

.nav-bar-translate {
  box-shadow:  8px 10px 10px rgba(46, 57, 75, 0.06);
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
}

@media screen and (max-width: 1088px) {
  .address-mobile-format {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 198px;
    display: inline-block;
    vertical-align: bottom;
  }

  .mobile-hash-format {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 132px;
    display: inline-block;
    vertical-align: bottom;
  }
}

// FIXME Temporary Edge menu fix
@import '~node_modules/bulma/sass/utilities/mixins';

@include desktop {
    .navbar-item {
        &.is-hoverable:hover {
            .navbar-dropdown {
                display: block;
            }
        }
    }
}


@font-face {
  font-family: 'iconfont';
  src: url('/assets/fontawesome/yeecowebfonts/iconfont.eot');
  src: url('/assets/fontawesome/yeecowebfonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fontawesome/yeecowebfonts/iconfont.woff2') format('woff2'),
  url('/assets/fontawesome/yeecowebfonts/iconfont.woff') format('woff'),
  url('/assets/fontawesome/yeecowebfonts/iconfont.ttf') format('truetype'),
  url('/assets/fontawesome/yeecowebfonts/iconfont.svg#iconfont') format('svg');
}

.yeecoiconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.five-y {
  color: #2a364a;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.125;
}
.five-t {
  color: #808998;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
}

.content table td,
.content table th {
  border: 1px solid #dbdbdb;
  border-width: 0 0 0px;
  padding: 0.5em 0.75em;
  vertical-align: top;
}
.button.is-light:focus:not(:active), .button.is-light.is-focused:not(:active) {
  box-shadow: 8px 10px 10px rgba(46, 57, 75, 0.06)
}

.box {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 0px 0px rgba(10, 10, 10, 0), 0 0 0 0px rgba(10, 10, 10, 0);
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
}


.box7 {
  background-color: white;
  border-radius: 0px;
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
  margin: 20px auto;
  margin-top: 0px;
  box-shadow: 8px 10px 10px rgba(46, 57, 75, 0.06)

}
.box8 {
  background-color: white;
  border-radius: 0px;
  color: #0a0a0a;
  display: block;
  padding: 1.25rem;
  margin: 20px auto;
  width: 1320px;
  height: 148px;
  margin-top: 0px;
  box-shadow: 8px 10px 10px rgba(46, 57, 75, 0.06)

}
aaa {
  color: #2a364a;
}
.creat {
  padding-top: 60px;
}
.center {
  margin: 0 auto;
  width: 1000px;
}
.transfer {
  padding-top: 80px;
}
.information {
  padding: 5px 0;
}
.wtitle {
  font-size: 16px;
  color: #2e394b;
  font-weight: 600;
}
.innertitle {
  display: inline-block;
  padding: 0 10px;
  position: relative;
  top: 0px;
  left: 10px;
  background: #fff;
}
.inputw {
  width: 500px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  box-sizing: border-box;
}
.name {
  font-size: 20px;
  color: #444;
  font-weight: 600;
  border-bottom: 1px solid #e4e4e4;
}

.production {
  padding: 5px 0;
  color: #b5b7bc;
}
.balance {
  height: 32px;
  font-size: 18px;
  font-weight: bolder;
  color: #444;
}
.ceratedone {
  margin-bottom: 20px;
  padding: 8px 40px;
  color: #fff;
  font-weight: 600;
  background: #2e394b;
  border: none;
  cursor: pointer;
}
.address {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 40px 15px;
  width: 600px;
  background: #f7f7f8;
  border: 1px solid #e4e4e4;
}

  .privatekeytext {
    width: 380px;
    word-wrap: break-word;
    word-break: normal;
}
.ceratedtwo {
  margin-bottom: 8px;
  padding: 6px 10px;
  color: #fff;
  font-weight: 600;
  background: #2e394b;
  border: none;
  cursor: pointer;
}
